body{
    margin-left: 700px;
    margin-right: 700px;
    height: 100%;
    background-image: url(https://www.wallpapertip.com/wmimgs/19-194649_fondos-de-pantalla-piscina-olmpica-bajo-el-agua.jpg);
    background-size: cover;
}

form h1{
    font-family: 'Stencil Std', fantasy;
    font-size: 40px;
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}

form{
    margin-top: 300px;
    text-align: center;
}

form p{
    color: red;
    padding: 10px 15px;
    border: 2px solid red;
    background-color: white;
}

form h5{
    font-family: 'Times New Roman', serif;
    display: inline;
    color: grey;
    padding: 4px 4px;
    border: 1px solid grey;
    background-color: white;
}

.hidden{
    display: none;
}

footer{
    margin-top: 150px;
    height: 100px;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.4);
}
footer address{
    padding-top: 20px;
}
footer p{
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Apple Chancery', cursive;
    
}

/*PARTE MOBILE*/
@media (max-width: 1530px){
    body{
        margin-left: 600px;
        margin-right: 600px;
    }
}

@media (max-width: 1475px){
    body{
        margin-left: 570px;
        margin-right: 570px;
    }
}

@media (max-width: 1400px){
    body{
        margin-left: 540px;
        margin-right: 540px;
    }
}

@media (max-width: 1335px){
    body{
        margin-left: 510px;
        margin-right: 510px;
    }
}

@media (max-width: 1300px){
    body{
        margin-left: 480px;
        margin-right: 480px;
    }
}

@media (max-width: 1250px){
    body{
        margin-left: 455px;
        margin-right: 455px;
    }
}

@media (max-width: 1190px){
    body{
        margin-left: 425px;
        margin-right: 425px;
    }
}

@media (max-width: 1130px){
    body{
        margin-left: 395px;
        margin-right: 395px;
    }
}

@media (max-width: 1050px){
    body{
        margin-left: 355px;
        margin-right: 355px;
    }
}

@media (max-width: 970px){
    body{
        margin-left: 310px;
        margin-right: 310px;
    }
}


@media (max-width: 900px){
    body{
        margin-left: 280px;
        margin-right: 280px;
    }
}

@media (max-width: 820px){
    body{
        margin-left: 235px;
        margin-right: 235px;
    }
}

@media (max-width: 725px){
    body{
        margin-left: 190px;
        margin-right: 190px;
    }
}

@media (max-width: 650px){
    body{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 560px){
    body{
        margin-left: 110px;
        margin-right: 110px;
    }
}

@media (max-width: 475px){
    body{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (max-width: 450px){
    body{
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media (max-width: 390px){
    body{
        margin-left: 30px;
        margin-right: 30px;
    }
}

